# Rustbucket Configuration
[general]
# The log level for the application
log_level = "info"

# Directory for storing logs
log_directory = "./logs"

# Whether to enable verbose logging
verbose = false

[llm]
# These messages are sent to the target LLM before every interaction from the Rustbucket. Use them to keep the LLM
# in character! The longer we can keep an attacker interacting with the bucket, the richer our dataset.
static_messages = { message1 = "You are an Ubuntu Server.", message2 = "Respond as an Ubuntu server would. Do not break character." }

[registration]
rustbucket_registry_url = "http://localhost:8080/register"